:root{
    --colorFont:black;
}

body{
    background-color: rgb(255, 255, 255)!important;
    color: white;
}

img{

    border-radius: 50%;
    border: 5px solid rgb(45, 55, 151);
    width: 200px;
    color: white!important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3{
    text-align: center;
    color: var(--colorFont);
    padding: 20px;
}

a {
    color: var(--colorFont);
    font-size: 15px;
}

ul {
    list-style-type: none;
    text-align: center;
    list-style: none;
    padding: 0;
    align-content: center!important;
}

form {
    text-align: center;
    margin-top: 20px;
}

.nav-item nav-link {
    color: var(--colorFont);
}

