body.dark {
    background: #121212;
    color: white;
}

body {
    background: white;
    color: black;
}


body {
    background: var(--bg);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: var(--card);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header h1 {
    margin: 0;
}

.top-info {
    display: flex;
    gap: 15px;
    align-items: center;
}

#toggleTema {
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    background: var(--text);
    color: var(--bg);
    border-radius: 5px;
    font-size: 16px;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}

section {
    background: var(--card);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

form input, 
form select, 
form button {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

form button {
    background: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
}

form button:hover {
    background: #0056c1;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #007bff;
    color: white;
}

td, th {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

td:last-child {
    text-align: center;
}

button.acao {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editar {
    background: #ffc107;
}

.apagar {
    background: #dc3545;
    color: white;
}

.api-section {
    text-align: center;
    padding: 20px;
}
